/* --------- This is CSS Reset Code --------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
.blue-btn {
	width: 140px;
	height: 45px;
	font-size: 20px;
	background-color: rgb(13, 116, 102);
	color: rgb(240, 234, 223);
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	margin-bottom: 10px;
	margin-top: 10px;
	border: none;

  }
  .orange-btn {
	background-color: orange;
	color: white;
	width: 120px;
	height: 38px;
	font-size: 17px;
	border: none;
  }
/* --------- Begin your CSS Below here --------- */